@import '../static/styles/variables/variables.scss';
body {
  background: linear-gradient(to right, $bg-from, $bg-to);
  li,
  h1,
  h2,
  h3 {
    color: $brown !important;
  }
  .input-group-text {
    background-color: transparent !important;
  }
}