@import '../../static/styles/variables/variables.scss';
.plan {
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
    .plan-details {
        text-align: left;
        word-spacing: .2rem;
        margin-left: 1.5em;
        li span.fa-li {
            color: $army-green
        }
    }
    .plan-info {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        h3.plan-title {
            font: normal 200 1rem "Courier New", Courier, monospace;
        }
        .plan-cost {
            text-shadow: 1px 1.5px $red;
            font: 600 2.5rem "Trebuchet MS", Helvetica, sans-serif;
            letter-spacing: 7px;
            span {
                font-size: 1rem;
                letter-spacing: normal;
                text-shadow: 1px 1px $red;
            }
        }
        hr {
            margin-top: 0;
            border-top: 1px solid
        }
        img {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
}