@import '../../static/styles/variables/variables.scss';
.checkout-container {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    main {
        box-shadow: 0 4px 8px 0 $box-shadow-from, 0 6px 20px 0 $box-shadow-to;
        section {
            padding-top: 6rem;
            padding-bottom: 3rem;
            &.plan-col {
                background-color: $light-pink;
                .checkout-btn-back-container {
                    color: $light-red;
                    background-color: $white;
                    position: absolute;
                    left: -2rem;
                    /* text-shadow: 2px 2px $light-red; */
                }
            }
            &.payment-col {
                background-color: $white;
                .payment-info-label-container {
                    background-color: $orange;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 0;
                    left: 50%;
                    padding: 1rem 2rem;
                    p {
                        font: normal 200 1rem "Courier New", Courier, monospace;
                        margin: 0;
                    }
                }
            }
        }
    }
}