@import '../../../static/styles/variables/variables.scss';
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: $white;
    .footer-container {
        display: flex;
        justify-content: center;
        a {
            display: inline-block;
            margin-left: 1rem;
        }
    }
}