@import '../../static/styles/variables/variables.scss';
.payment {
    padding-right: 5rem;
    padding-left: 5rem;
    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        .btn-payment {
            color: $white;
            letter-spacing: 3px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8rem;
            border-radius: 5rem;
            padding: 10px 30px;
            background-color: $dark-blue;
            border-color: $dark-blue;
            &:hover,
            &:active,
            &:visited,
            &:focus {
                background-color: $dark-blue;
                border-color: $dark-blue;
            }
        }
    }
    .card-icon svg {
        color: $pink !important;
    }
    .visa-icon svg {
        color: $blue !important;
    }
}